# .NET
bin/
obj/
*.user
*.suo
.vs/
*.csproj.user

# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# CDK
cdk.out/

# Environment
.env
.env.local
.env.*.local
*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# AWS
.aws-sam/
